// -------------------------------------ProductCategory部分---------------------------------------------------------

.Section_1_pic {
  width: 18rem;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.card-img-top {
  width: 100%;
  // height: 100%;
}

.card-group-a {
  border: none;
  display: block;
  position: relative;
  overflow: hidden; //圖片放大
  transition: 0.8s;
}

.card-group11 {
  margin: 2rem 0 7rem 0;
}

.card-group-a:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.8s;
}

@media screen and (max-width: 768px) {
  .product_category_h {
    // margin-left:8%;
    @include h4;
  }

  .card-group {
    margin: 0;
  }
}
