.product-detail {
  &__title {
    @include h5;
    text-align: center;
  }
  &__price {
    @include h5;
    margin-top: 10px;
    text-align: center;
  }
  &__description {
    margin-top: 20px;
    line-height: 1.3rem;
    color: $dark-gray;
  }
  &__add-to-cart-btn {
    display: block;
    background-color: $light-green;
    padding: 10px;
    text-align: center;
    color: $dark-gray;
    &:hover {
      color: $highlight-red;
    }
  }
  &__add-to-my-favorites-btn {
    color: $dark-gray;
    text-align: center;
    &:hover {
      color: $highlight-red;
    }
  }

  .preview-group {
    margin-top: 8px;

    .ant-image {
      width: 35px;
      height: 35px;
      margin: 0 5px;
      border: 1px solid $dark-gray;
      opacity: 0.7;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
      img {
        width: 35px;
        height: 35px;
      }
      &-mask {
        display: none;
      }
    }
  }
}
.product-detail__specification {
  li {
    display: flex;
    justify-content: space-between;
    strong {
      font-size: 14px;
    }
  }
}
.product-detail__features {
  padding: 10px;
  &__title {
    @include h6;
    margin-top: 10px;
    color: $dark-gray;
    &:nth-of-type(2) {
      margin-top: 20px;
    }
  }
  &__description {
    margin-top: 5px;
    color: $dark-gray;
    line-height: 1.3rem;
  }
}
.product-detail__related-products {
  &__title {
    display: flex;
    justify-content: center;
    // text-align: center;
    color: $dark-gray;
    &::before,
    &::after {
      content: '';
      display: block;
      position: relative;
      align-self: center;
      margin: 0 3px;
      top: 50%;
      width: 30%;
      height: 2px;
      background-color: $light-gray;
    }
  }
}

@media screen and (min-width: 768px) {
  // 限制圖片在螢幕超過 md 時的大小
  .product-detail__image {
    max-height: 560px;
  }
}

@media screen and (min-width: 996px) {
  .product-detail__related-products {
    width: 75%;
    margin: 50px auto 0;
    .card h6 {
      font-size: 16px;
    }
  }
}
