// 顧客資料 form
.customer-info__form {
  padding: 20px;
  input {
    background-color: #fff !important;
    border-radius: 5px;
  }
}

// 送貨資料 form
.shipping-info__form {
  padding: 20px;
  // &__delivery-way {
  //   p,
  //   label {
  //     font-size: 14px;
  //   }
  // }
  strong {
    // font-size: 14px;
    color: #e00068;
  }
  .set-default-address-btn {
    font-size: 14px;
  }
}

// 付款資料 form
.payment-info__form {
  padding: 20px;
}

// 索取發票 form
.invoice-info__form {
  padding: 20px;
}

// 提交訂單按鈕
.send-order-btn {
  background-color: $light-green;
  border: 1px solid $dark-gray;
  border-radius: 0;
  color: #e00068;
}

