// 顧客資料 form
.customer-info__form {
  padding: 20px;
  input {
    background-color: #fff !important;
    border-radius: 5px;
  }
}

// 送貨資料 form
.shipping-info__form {
  padding: 20px;
  // &__delivery-way {
  //   p,
  //   label {
  //     font-size: 14px;
  //   }
  // }
  strong {
    font-size: 14px;
    color: $highlight-red;
  }
  .set-default-address-btn {
    font-size: 14px;
  }
}

// 付款資料 form
.payment-info__form {
  padding: 20px;
}

// 付款資料 title 提醒文字：（僅供測試，請勿填寫真實的信用卡號碼！）
.payment-info__title__reminder {
  font-size: 14px;
  color: $highlight-red;
}

// 索取發票 form
.invoice-info__form {
  padding: 20px;
}

// 提交訂單按鈕
.send-order-btn {
  background-color: $light-green;
  border: 1px solid $dark-gray;
  border-radius: 0;
  color: $highlight-red;
}

// 表單驗證失敗時的錯誤訊息
.error-message {
  color: red;
}
