.bannerBookingMap {
  height: 500px;
  width: 100%;
  background-image: url('../components/images/BookingMap/suit+1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 420px) {
  .bannerBookingMap {
    height: 200px;
    width: 100%;
    background-image: url('../components/images/BookingMap/suit+1.png');
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
}
/* -----------右側sticky功能欄----------- */
.sidebar {
  background-color: rgb(95, 95, 95);
  float: right;
  z-index: 9999;
}
.sidebar {
  width: 40px;
  height: 15vh;
  border-radius: 15px 0 0 15px;
}
.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 35%;
}
.sidebar i {
  color: rgb(255, 255, 255);
}
/* -----------container-fruid背景色---------- */
.mapContainerFluid {
  padding-top: 3%;
  // padding-bottom: %;
  position: relative;
  z-index: 0;
}
/* -----------底紋---------- */
.mapContainerFluid ::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(../components/images/BookingMap/19742-01.jpg);
  z-index: -1;
  opacity: 0.06;
  height: 100%;
  background-size: cover;
}
/* ==========底紋RWD==========*/
@media screen and (max-width: 420px) {
  .mapContainerFluid ::before {
    content: '';
    display: none;
  }
}

/* -------------------title--------------------- */
.spanBorder {
  border: 1px #747474 solid;
  color: #ffffff;
  width: fit-content;
  margin: 0 auto 5%;
}
.spanBorder p {
  letter-spacing: 5px;
  color: #747474;
  margin-bottom: 0%;
  margin: 15px 40px 15px 40px;
}

/* ==========titleRWD==========*/
@media screen and (max-width: 420px) {
  .spanBorder {
    width: 82%;
    margin: 5% auto 5%;
  }
  .spanBorder p {
    letter-spacing: 2px;
    font-size: 15px;
    text-align: center;
    line-height: 19px;
    margin: 9px 19px 9px 19px;
  }
}
/* ----------全台灣地圖----------- */
.mapBox {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.mapSvg {
  margin-top: 50px;
  height: 800px;
  margin-bottom: 50px;
}
.mapSvg path {
  stroke: white;
  cursor: pointer;
}
.st1,
.st2,
.st3,
.st5,
.st6,
.st7,
.st9,
.st10,
.st11,
.st12,
.st13,
.st14,
.st15 {
  fill: #9c9c9c;
}
.st8 {
  fill: $btn-hover-color;
}
.st8:hover {
  fill: #353535;
}
.st4 {
  fill: $btn-hover-color;
}
.st4:hover {
  fill: #353535;
}
.st16 {
  fill: $btn-hover-color;
}
.st16:hover {
  fill: #353535;
}
.mapRow {
  width: auto;
}
.mapBox .btn {
  border: none;
}
/* ==========全台灣地圖RWD==========*/
@media screen and (max-width: 420px) {
  .mapSvg {
    width: 82%;
    height: 100%;
  }
}
/* ----------popover框----------- */
.popover-body {
  padding: 0rem 0rem;
}
/* ----------popover框內cardbody調整----------- */
.popover-body .card-body {
  width: 200px;
  margin: 0%;
  padding: 0rem 0.75rem 0.75rem 0.75rem;
}
.TPEcard img {
  width: 200px;
  height: 129px;
  object-fit: cover;
}
.fa-phone {
  margin-right: 10px;
}
.fa-location-dot {
  margin-right: 10px;
}
.popover-body .card-body span {
  text-align: justify;
}
.popoverText {
  font-family: 'Noto Sans TC', sans-serif;
}
/* ============popover框RWD============ */
.modal-content {
  width: 70%;
}
.modal-dialog-centered {
  display: flex;
  justify-content: center;
}
.modal-footer {
  border-top: none;
  padding: 0%;
  justify-content: flex-start;
  padding: 0rem 1rem 1rem 1rem;
}
/* ============popover框內cardbody調整RWD============ */
.PopconfirmCardImgBox {
  width: 100%;
}
.PopconfirmCardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal-content .modal-body {
  padding: 0;
}
.RWDcard p {
  line-height: 20px;
}
.PopconfirmCardBtn {
  margin: 0;
  background-color: #000000;
  border-color: #000000;
  border-radius: 0;
  line-height: 1;
}
.PopconfirmCardBtn p {
  color: #ffffff;
}

/* --------------------台北icon--------------------*/
.iconTPE {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.TPEBox {
  width: 23%;
  position: absolute;
  top: -1%;
  right: 10%;
}
/* ==========台北iconRWD==========*/
.RWDtpeBox {
  width: 17%;
  position: absolute;
  top: 3%;
  right: 16%;
}
.RWDiconTPE {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* --------------------桃園icon--------------------*/
.iconTPE {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.TYNBox {
  width: 23%;
  position: absolute;
  top: 2%;
  right: 31%;
}
/* ==========桃園iconRWD==========*/
.RWDtynBox {
  width: 17%;
  position: absolute;
  top: 5%;
  right: 34%;
}
.RWDiconTYN {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* --------------------彰化icon--------------------*/
.iconCWS {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.CWSBox {
  width: 23%;
  position: absolute;
  top: 28%;
  right: 67%;
}
/* ==========彰化iconRWD==========*/
.RWDcwsBox {
  width: 17%;
  position: absolute;
  top: 30%;
  right: 66%;
}
.RWDiconCWS {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* --------------------分店預約卡--------------------*/
.branch-container-fluid {
  background-color: rgb(192 192 192 / 10%);
}
.branch-container-fluid .col {
  margin: 0 auto;
}
.branch-container-fluid .card {
  width: 220px;
  height: 270px;
  border-radius: 0px 0px 10px 10px;
}
.branch-container-fluid .reserveCardBody {
  width: 100%;
}
.branchTitleBox {
  border-bottom: 2px solid #000000;
  width: max-content;
  padding-bottom: 10px;
  margin-bottom: 100px;
}
.shopName {
  text-align: center;
  width: 101%;
  height: 44px;
  background-color: $btn-hover-color;
}
.shopName p {
  color: #ffffff;
}
.branch-container-fluid .card {
  box-shadow: 8px 8px 7px rgba(0, 0, 0, 0.342);
}

.reserveCardBody p {
  line-height: 20px;
}
/* ==========分店預約卡RWD==========*/
@media screen and (max-width: 420px) {
  .branchTitleBox {
    margin-bottom: 35px;
  }
}
/* --------立即預約按鈕--------*/
.AppointmentButton {
  margin-top: 30px;
}
.pBox {
  border: 0.5px solid #000000;
  width: 70%;
  height: 27px;
  margin-bottom: 20px;
}
.pBox p {
  color: #000000;
  padding: 0;
}
/* --------------------推薦文章--------------------*/
.articleAllBox {
  padding-bottom: 200px;
}
.articleTitleBox {
  border-bottom: 2px solid #000000;
  width: max-content;
  padding-bottom: 10px;
  margin-top: 130px;
}
.articleImg {
  object-fit: cover;
  width: 100%;
}
.articleBox p {
  color: #ffffff;
}
/* ==========推薦文章RWD==========*/
@media screen and (max-width: 420px) {
  .articleTitleBox {
    margin-top: 90px;
  }
}
