//中文字體 = Noto Sans Traditional Chinese
//英文內文 = Source Sans Pro
//英文大標 = Nuosu SIL

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Nuosu+SIL&family=Source+Sans+Pro&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', sans-serif; // 中文字體 = Noto Sans Traditional Chinese
}
// font-family: 'Nuosu SIL', serif;  //英文大標 = Nuosu SIL
// font-family: 'Source Sans Pro', sans-serif; // 英文內文 = Source Sans Pro
a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin text {
  font-style: normal;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: $letter-spacing;
  // line-height: 110%;
  // color: $color-font;
}

@mixin eng-text {
  font-style: normal;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: $letter-spacing;
}

@mixin eng-title-text {
  font-style: normal;
  font-family: 'Nuosu SIL', serif;
  letter-spacing: $letter-spacing;
}

h1 {
  @include text;
  font-weight: 500;
  font-size: 3.75rem;
}

h2 {
  @include text;
  font-weight: 500;
  font-size: 2.5rem;
}

h3 {
  @include text;
  font-weight: 500;
  font-size: 2rem;
}

h4 {
  @include text;
  font-weight: 500;
  font-size: 1.5rem;
}

h5 {
  @include text;
  font-weight: 500;
  font-size: 1.25rem;
}

h6 {
  @include text;
  font-weight: 500;
  font-size: 1rem;
}

label {
  @include text;
}

@mixin h1 {
  @include text;
  font-weight: 500;
  font-size: 3.75rem;
}

@mixin h2 {
  @include text;
  font-weight: 500;
  font-size: 2.5rem;
}

@mixin h3 {
  @include text;
  font-weight: 500;
  font-size: 2rem;
}

@mixin h4 {
  @include text;
  font-weight: 500;
  font-size: 1.5rem;
}

@mixin h5 {
  @include text;
  font-weight: 500;
  font-size: 1.25rem;
}

@mixin h6 {
  @include text;
  font-weight: 500;
  font-size: 1rem;
}

@mixin text--large {
  @include text;
  font-weight: normal;
  font-size: 1.25rem;
}

@mixin text--large-bold {
  @include text;
  font-weight: 500;
  font-size: 1.25rem;
}

@mixin text--medium {
  @include text;
  font-weight: normal;
  font-size: 1.125rem;
}

@mixin text--medium-bold {
  @include text;
  font-weight: 500;
  font-size: 1.125rem;
}

@mixin text--normal {
  @include text;
  font-weight: normal;
  font-size: 1rem;
}

@mixin text--normal-bold {
  @include text;
  font-weight: 500;
  font-size: 1rem;
}

@mixin text--small {
  @include text;
  font-weight: normal;
  font-size: 0.875rem;
}

@mixin text--small-bold {
  @include text;
  font-weight: 500;
  font-size: 0.875rem;
}

// 洧
// ******** 覆蓋 accordian 樣式(react-bootsrap) ******** //
// 取消 accordian 的 arrow
.accordion-button::after {
  display: none;
}

// 取消 accordian-item 的 border
.accordion-item {
  border: none;
}

.accordion-body {
  padding: 0;
  & a {
    padding: 1rem 1rem 1rem 1.5rem;
    color: $dark-gray;
  }
}

.accordion-button:focus {
  z-index: 3;
  /* border-color: #86b7fe; */
  outline: 0;
  box-shadow: none;
}

// 覆蓋點選之後的背景色
.accordion-button:not(.collapsed) {
  color: $dark-gray;
  background-color: $light-gray;
  box-shadow: none;
}
