/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

// -------------------------------------header部分---------------------------------------------------------
.main1 {
  width: 100%;
  height: 100vh;
  // z-index: -1;
  // 解決absolute浮起來辣
  overflow: hidden;
}

.video1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*為什麼沒吃到background-color  */
  background-color: rgba(0, 0, 0, 0.5);
  /* opacity: .7; */
}

.button1 {
  color: white;
  text-decoration: none;
  border: 0.1rem solid white;
  padding: 2rem 5rem;
  // letter-spacing: 3px;
}

.text-white1 {
  margin: 0;
  margin-bottom: 0.6rem;
  padding: 1px;
}

.text-white2 {
  margin: 0;
  margin-bottom: 3rem;
  padding: 1px;
}

.product_category_h {
  border-bottom: 2px solid black;
}

@media screen and (max-width: 768px) {
  .text-white1 {
    padding: 0;
    margin: 0 0 1rem 0;
    @include h3;
    letter-spacing: 1px;
  }

  .text-white2 {
    padding: 0;
    margin: 0;
    @include h3;
    letter-spacing: 1px;
  }

  .button1 {
    padding: 0.5rem 1rem;
    margin: 2rem 0 0 0;
    @include h4;
  }

  .product_category_h {
    border: none;
    text-align: center;
  }
}

.main1 .button1:hover {
  color: rgba(40, 40, 40, 0.607);
  background: rgba(255, 255, 255, 0.29);
  border: 1px solid rgba(40, 40, 40, 0.607);
  transition: 0.8s;
}

.card-group-a {
  display: block;
  position: relative;
  overflow: hidden; //圖片放大
  transition: 0.8s;
}

.card-group-a:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.8s;
}


// .card-title:hover{
//   color: white;
// }
// -------------------------------------ProductCategory部分---------------------------------------------------------

.Section_1_pic {
  width: 18rem;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.card-img-top {
  width: 100%;
  // height: 100%;
}

.card-group-a {
  border: none;
}

.card-group11 {
  margin: 2rem 0 7rem 0;
}

@media screen and (max-width: 768px) {
  .product_category_h {
    // margin-left:8%;
    @include h4;
  }

  .card-group {
    margin: 0;
  }
}

// -----------------------------------------------------SuitStyle部分------------------------------
// .section2 {
//   background: url(../images/sol/pexels-jana-kukebal-64.jpg);
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-position: center;
//   height: 100vh;
//   /* 100% of viewport height */
//   margin: 0 auto;
//   position: relative;
// }

// .section2-bg{
// width: 100%;
// }

.suit-style-title {
  padding-bottom: 1rem;
}

.suit-style-middle-container {
  margin-top: 3rem;
  margin-bottom: 4.5rem;
}

@media screen and (max-width: 768px) {
  .suit-style-title {
    @include h3;
  }
}

@media screen and (max-width: 768px) {
  .suit-style-middle-container {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
}

// ---------------------------------------------------pointArticle部分-------------------------------
.point-article-container {
  margin-top: 6rem;
}

.card-pointArticle-1,
.card-pointArticle-2 {
  max-width: 32rem;
  // box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.5);
  border: none;
  border: 15px solid white;
}

// @media screen and (max-width:780) {
//   .card-pointArticle-1,
// .card-pointArticle-2 {

//   // display: flex;
//   // justify-content: center;
// }
// }

.pointArticle-col-2 {
  margin-bottom: 5rem;
}

.pointArticle-text-tittle {
  // border-left: 4px solid black;
  // padding-left: 0.6rem;
  font-weight: 500;
  // font-size: 24px;
  background: rgb(198, 198, 198);
  padding: 3px;
  color: rgb(98, 98, 98);
}

.pointArticle-text-tittle2 {
  font-weight: 500;
  font-size: 20px;
  padding: 0 0.7rem 0 0.7rem;
  color: rgb(98, 98, 98);
}

@media screen and (max-width: 768px) {
  .pointArticle-text {
    @include h5;
  }

  .pointArticle-col-2 {
    margin-bottom: 2rem;
  }

  // .pointArticle-text{
  //   text-align: center;
  // }

  .pointArticle-text-tittle {
    border-bottom: none;
    text-align: center;
  }
}

.card-pointArticle-1-color {
  max-width: 20rem;
  height: 10rem;
  background: linear-gradient(
    to bottom,
    rgba(104, 104, 104, 0.65) 0%,
    rgba(252, 252, 252, 1) 96%,
    rgba(254, 254, 254, 1) 97%,
    rgba(255, 255, 255, 1) 98%,
    rgba(255, 255, 255, 1) 100%
  );
}

.card-pointArticle-2-color {
  max-width: 30rem;
  height: 15rem;
  background: linear-gradient(
    to bottom,
    rgba(104, 104, 104, 0.65) 0%,
    rgba(252, 252, 252, 1) 96%,
    rgba(254, 254, 254, 1) 97%,
    rgba(255, 255, 255, 1) 98%,
    rgba(255, 255, 255, 1) 100%
  );
}

.bg-rule1 {
  background-image: url(../images/sol/rule.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 30rem;
  width: 30rem;
  bottom: 0;
}


// .card-img-top2{
//   border-bottom: 5px solid transparent;
// }




// ----------------------------------------------fabric部分------------------------------------------

// .bg-gray{
// height: 20rem;
// width: 100%;
// background-color: rgba(233, 233, 233, 0.728);
// position: absolute;
// top:5rem;
// z-index: -2;
// }

.fabricClass1-outer {
  max-width: 20rem;
  border: 2px solid white;
}

.fabricClass1 {
  width: 100%;
  // opacity: .9;
}

.fabricClass2-outer {
  max-width: 20rem;
  position: absolute;
  left: 20%;
  border: 2px solid white;
}

.fabricClass2 {
  width: 100%;
  // opacity: .9;
}

.fabricClass3-outer {
  max-width: 25rem;
  position: absolute;
  left: 30%;
  top: 50%;
  border: 2px solid white;
}

.fabricClass3 {
  width: 100%;
  // opacity: .9;
}

.figure-text {
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .fabricClass1-outer {
    max-width: 100%;
    border: 1px solid white;
    position: relative;
  }

  .fabricClass1 {
    width: 100%;
  }

  .fabricClass2-outer {
    max-width: 60%;
    position: absolute;
    left: 30%;
    border: 1px solid white;
    display: none;
  }

  .fabricClass2 {
    width: 100%;
  }

  .bg-gray {
    display: none;
  }

  .figure-text-inner {
    @include h4;
    z-index: 4;
    color: rgb(255, 255, 255);
    justify-content: start;
  }

  .figure-text {
    position: absolute;
  }

  .fabricClass3-outer {
    display: none;
  }
}

@media screen and (max-width: 1726px) and (min-width: 768px) {
  .figure-text-inner {
    @include h2;
    z-index: 4;
    color: rgb(129, 129, 129);
    justify-content: start;
  }
}

// --------------------------------------simple-slider部分--------------------------------
.simpleStyle-container .slider-outer-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.simpleStyle-container .slider-outer {
  max-width: 28rem;
  height: 28rem;
  display: flex;
  justify-content: center;
  align-items: center;
  // overflow: hidden;
  border: 4px solid white;
}

.simpleStyle-container .slider-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.simpleStyle-container .simpleStyle-container {
  margin-top: 10rem;
}

.simpleStyle-container .simpleStyle-title {
  border-bottom: 2px solid black;
  // display: inline-block;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.simpleStyle-container-inner{
  margin-bottom: 8rem;
}



@media screen and (max-width: 768px) {
  .simpleStyle-container .slider-text {
    @include h4;
  }

  .simpleStyle-container .simpleStyle-title {
    margin-left: 2.3rem;
    text-align: center;
    border: none;
    @include h4;
  }

  .simpleStyle-container {
    margin-top: 1rem;
  }
}

// .slick-track{
//   width: 1712px !important;
// }

// .slick-arrow{
// font-size: 10;
// line-height: 0;
// position: absolute;
// top: 50%;
// display: block;
// width: 20px;
// height: 20px;
// padding: 0;
// transform: translate(0, -50%);
// cursor: pointer;
// color: #dc3545;
//     border: none;
//     outline: none;
//     background: transparent;
// }

// .slick-prev, .slick-next {
//   font-size: 0;
//   line-height: 0;
//   position: absolute;
//   top: 50%;
//   // display: block;
//   width: 20px;
//   height: 20px;
//   padding: 0;
//   transform: translate(0, -50%);
//   // cursor: pointer;
//   // color: #ff1010 !important;
//   border: none;
//   outline: none;
//   background: #000000 !important;
// }

.slick-track {
  height: 400px !important;
  margin-top: -30px;
}

.home-main-bg2 {
  background-image: url(../images/sol/main-suitmine-bg2.svg);
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
}

@media screen and (max-width: 1840px) {
  .home-main-bg2 {
    background-image: url(../images/sol/main-suitmine-mobile-bg.svg);
  }
}

@media screen and (max-width: 1380px) {
  .home-main-bg2 {
    background-image: none;
  }
}

// .home-main-mobile-bg{
//   display: none;
// }

// @media screen and (max-width: 1255px) {
//   .home-main-mobile-bg {
//     display: block;
//     background-image: url(../images/sol/main-suitmine-mobile-bg.svg);
//     background-position: center center;
//     background-repeat: no-repeat;
//     height: 100%;
//     width: 100%;
//     background-size: cover;
//   }
// }

.simpleStyle-container {
  margin-top: 13rem;
}

.simpleStyle-container .slider-outer-wrap {
  height: 480px;
}
