.my-favorites-display-item {
  border: 1px solid $light-gray;
}

.my-favorites-display-item__image-wrapper {
  width: 100%;
  height: 130px;
  & ~ *:not(.fa-heart) {
    @include text;
    color: $dark-gray;
  }
  
}

.heart-icon {
  color: $dark-gray;
}

.my-favorites-display-item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
