.order-datail-display__wrapper {
  padding: 1rem;
  border: 2px solid $light-gray;
}
.order-datail-display__header__shipping-info,
.order-datail-display__body {
  border-bottom: 2px solid $light-gray;
}
.order-datail-display__footer {
  & > * {
    display: flex;
    // justify-content: space-between;
  }
  & > *:not(.order-datail-display__btns) {
    border-bottom: 2px solid $light-gray;
  }
}

// ProductLink.js
.prodcut-link {
  border-bottom: 2px solid $light-gray;
  &__info {
    @include text;
    color: $dark-gray;
  }
}

.prodcut-link__figure {
  width: 80px;
  height: 100px;
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
