//預設RWD-576
@mixin mobile {
  @media (max-width: 577px) {
    @content;
  }
}
@mixin window {
  @media (min-width: 577px) {
    @content;
  }
}
@mixin mobile375 {
  @media (max-width: 375px) {
    @content;
  }
}

//控制圖片
.imgControl {
  img {
    height: 100%;
    object-fit: cover;
    @include mobile {
      width: 100%;
    }
  }
}

//背景圖片電腦版
.productDetailBanner {
  height: 1200px;
  background-color: gray;
  padding: 0;
  position: relative;
  z-index: -1;
  @include mobile {
    display: none;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .fliter {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #15151576;
    z-index: 1;
    top: 0;
    left: 0;
  }
  h1 {
    position: absolute;
    bottom: 57%;
    left: 50%;
    color: white;
    z-index: 100;
    transform: translate(-50%, -50%);
  }
}

//背景圖片手機板
.productDetailBannerMobile {
  padding: 0%;
  display: none;
  position: relative;
  @include mobile {
    display: block;
  }
  .productName {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 70%;
    @include mobile375 {
      text-align: center;
    }
    h2 {
      color: white;
      @include mobile375 {
        font-size: 1.5rem;
      }
    }
  }
}
// 商品內容
.productContentBox {
  @include window {
    position: relative;
  }
  padding: 0%;
  width: 100%;
  height: 1000px;
  margin-top: -1px;
  //   background-color: aqua;

  .productContent {
    z-index: 10;
    height: 750px;
    @include mobile {
      height: 1050px;
      width: 100%;
    }
    width: 60%;
    background-color: $dark-gray;
    margin: 0%;
    @include window {
      // box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.7);
      width: 50%;

      position: absolute;
      right: 0%;
      top: -1%;
      transform: translate(-50%, -50%);
    }

    // 左邊照片樣式(電腦版)
    & > div:first-child {
      padding: 5%;
      padding-left: 10%;
      padding-right: 0%;
      position: relative;
      & > div {
        position: absolute;
        width: 40px;
        height: 65px;
        left: 27%;
        // background-color: red;
        img {
          width: 100%;
          height: 100%;
        }
      }
      & > div:nth-child(2) {
        top: 12%;
      }
      & > div:nth-child(3) {
        top: 20%;
      }
      & > div:nth-child(4) {
        top: 28%;
      }
      & > div:nth-child(5) {
        top: 36%;
      }
      & > div:nth-child(6) {
        top: 44%;
      }
      & > div:nth-child(7) {
        top: 52%;
      }
    }
    //手機板在最下方

    //右邊產品細節
    & > div:last-child {
      padding: 5%;
      //右上方區塊
      .topSection {
        height: 40%;
        // background-color: red;
        div {
          margin: 7%;
          h2,
          h5,
          h4 {
            color: $light-gray;
          }
          h5 {
            @include mobile375 {
              font-size: 1rem;
              line-height: 1.5rem;
            }
          }
        }
      }
      //右下方區塊
      .bottomSection {
        height: 40%;
        // background-color: green;
        margin-top: 7%;

        .texture {
          padding-right: 10%;
          padding-left: 7%;
          .textureTitle {
            padding: 0;
            background-color: $dark-gray;
            border: $dark-gray;
            border: 0;
            h4 {
              color: $light-gray;
              margin-bottom: 10px;
              font-size: 1rem;
            }
          }
          height: 50%;
          //   產品細節欄位
          & > div {
            padding-right: 5%;
            padding-left: 5%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 25%;
            @include mobile {
              height: 34%;
            }
            background-color: white;
            border: 1px solid $light-gray;
            & > div:last-child h5 {
              color: $dark-gray;
            }
            h5 {
              @include mobile375 {
                font-size: 1rem;
              }
            }
          }
        }
        //按鈕
        .btns {
          height: 40%;
          margin-right: 10%;
          margin-left: 7%;
          margin-top: 5%;
          @include mobile {
            margin-top: 17%;
          }
          //   background-color: green;
          div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50%;
            // border: 1px solid black;
            .widthbtn {
              background-color: black;
              color: white;
              width: 100%;
              height: 75%;
              &:hover {
                background-color: $light-gray;
                border: $light-gray;
                color: black;
              }
            }
          }
          //按鈕樣式
          .addDetail,
          .addInCart {
            .ant-btn-primary {
              color: #fff;
              border-color: #000000;
              background: #000000;
              text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
              box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
              width: 100%;
              height: 80%;
            }
          }

          .addInCart {
            .ant-btn {
              width: 100%;
              height: 300%;
              background-color: black;
              color: white;
              border: 1px solid black;
            }
          }
        }
      }
    }
  }
}

//評論
.noLastBottomBorder {
  border-bottom: none;
}
.comment {
  z-index: 999;
  width: 70%;
  padding-right: 10%;
  padding-left: 10%;
  margin-top: -30%;
  @include mobile {
    margin-top: 20%;
    width: 100%;
  }
  //評論區塊
  .commentContainer {
    // 最後一個不要底線
    border-top: 1px solid $dark-gray;
    & > div:first-child {
      border: 0;
    }
    .commentBlock {
      margin-bottom: -1%;
      border-bottom: 1px solid $dark-gray;
      padding: 3%;
      padding-bottom: 0%;
      height: 300px;
      @include mobile375 {
        height: 300px;
      }
      h3 {
        @include mobile {
          font-size: 1.3rem;
          color: $dark-gray;
        }
      }
      & > div {
        height: 50%;
      }
      //使用者訊息
      .topSection {
        height: 50%;
        display: flex;
        justify-content: space-between;
        @include mobile375 {
          height: 30%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          margin-top: 10%;
        }
        & > div {
          width: 50%;
          @include mobile {
            width: 65%;
          }
        }
        //使用者照片ID
        & > div:first-child {
          padding-left: 2%;
          display: flex;
          align-items: center;
          .photo {
            height: 55px;
            width: 55px;
            border-radius: 50%;
            background-color: gray;
            @include mobile {
              margin-left: -26%;
              height: 55px;
              width: 55px;
            }
          }
          .userName {
            margin-left: 8%;
            h4 {
              @include mobile375 {
                font-size: 1rem;
              }
            }
          }
        }
        //評論建立時間
        .date {
          display: flex;
          align-items: center;
          justify-content: end;
          padding-right: 1%;
          h5 {
            font-size: 1rem;
          }
          @include mobile375 {
            width: 100%;
          }
        }
      }
      //評論內容
      .buttonSection {
        height: 50%;
        padding-right: 2%;
        padding-left: 10%;
        @include mobile375 {
          padding-right: 2%;
          padding-left: 2%;
          margin-top: 10%;
        }
        h5 {
          font-size: 1rem;
          line-height: 2rem;
          @include mobile {
            font-size: 1rem;
            line-height: 1.2rem;
          }
        }
      }
    }
  }
}

//彈窗內容
.popSelectDetail {
  .popDetail {
    padding-right: 5%;
    padding-left: 5%;
  }
  //標題
  .title {
    padding: 2%;
  }
  //商品顯示
  .showProduct {
    height: 80px;
    display: flex;
    align-items: center;
    .pdtImg {
      height: 70px;
      width: 70px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 100%;
      }
    }
    .pdtName {
      margin-left: 3%;
    }
  }
  .popBanner {
    height: 45px;
    background-color: black;
    margin-bottom: 0%;
  }
  //細節內容手風琴
  .Accordion {
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
      height: 45px;
      align-items: center;
      background-color: $light-gray;
    }
    .ant-collapse {
      border: 0;
    }
    // 下拉出內容
    .detailContents {
      height: 160px;
      display: flex;
      justify-content: center;
      align-items: center;

      .ant-radio-button-wrapper {
        height: 140px;
        border: 0px;
      }
      .ant-radio-button-wrapper:not(:first-child)::before {
        width: 0px;
        padding: 1px 0;
      }

      .ant-radio-button-wrapper:hover div:last-child {
        background-color: black;
      }

      .ant-radio-button-wrapper {
        padding: 0;
        // box-shadow: 0 0 0 3px rgba(0, 0, 0, 0);
      }

      & > div {
        margin-right: 3%;
        margin-left: 3%;
        height: 90%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        // border: 1px solid $dark-gray;
        //產品照片
        div:first-child {
          img {
            height: 100%;
          }
          height: 80%;
        }
        //細節名
        div:last-child {
          height: 100%;
          background-color: $dark-gray;
          border: 3px solid rgba(0, 0, 0, 0);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          @include mobile {
            height: 80%;
          }
          //   padding-left: 4%;
          h6 {
            color: white;
            font-size: xx-small;
            line-height: 0.8rem;
          }
        }
      }
    }
  }

  //儲存按鈕
  .widthbtn {
    width: 100%;
    height: 45px;
  }
}

.popDetail .ant-form-item-label > label {
  display: none;
}

.addInCart .ant-btn-primary {
  height: 75%;
}

//左邊照片樣式(手機板)
.sliderMobile {
  margin-top: 50px;
  height: 12%;
  //   background-color: red;
  img {
    // height: 400px;
    margin: 0 auto;
  }
  .slick-prev:before,
  .slick-next:before {
    font-family: 'slick';
    font-size: 60px;
    line-height: 1;
    opacity: 0.75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .slick-prev {
    left: 30px;
    z-index: 20;
    top: 46%;
    @include mobile375 {
      left: -1px;
    }
  }
  .slick-next {
    right: 65px;
    top: 46%;
    @include mobile375 {
      right: 37px;
    }
  }
}
.selectBorderTransparent {
  border: 3px solid rgba(0, 0, 0, 0);
  box-sizing: content-box;
}
.selectBorder {
  border: 3px solid black !important;
}
.selectColor {
  background-color: #000000 !important;
  width: 101%;
  height: 102%;
}
.productNarrative h6 {
  color: #fff;
  line-height: 21px;
}
.commentBox {
  width: 50%;
  height: 600px;
  background-color: rgb(160, 160, 160);
}
.ProductDetailmain {
  padding-left: 0%;
  padding-right: 0%;
}
.commentTitleBottomBorder {
  padding-bottom: 2%;
}
/* ------------ 商品列表頁碼 ------------ */
.pager {
  margin: 0 0 3.75rem;
  font-size: 0;
  text-align: center;
}
.pager__item {
  display: inline-block;
  vertical-align: top;
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0 2px;
}
.pager__item.active .pager__link {
  background-color: #1d1d1d;
  border-color: #1d1d1d;
  color: #fff;
  text-decoration: none;
}
.pager__item--prev svg,
.pager__item--next svg {
  width: 8px;
  height: 12px;
}
.pager__item--next .pager__link svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.pager__link {
  position: relative;
  border-radius: 26px;
  display: block;
  text-align: center;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  margin-left: -1px;
  color: #2f3640;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.pager__link:hover,
.pager__link:focus,
.pager__link:active {
  background-color: #1d1d1d;
  border-color: #1d1d1d;
  color: #fff;
  text-decoration: none;
}
.pager__link:hover svg path,
.pager__link:focus svg path,
.pager__link:active svg path {
  fill: #fff;
}
.pager .pager__item.active + .pager__item .pager__link,
.pager .pager__item:hover + .pager__item .pager__link {
  border-left-color: #1d1d1d;
}
.pagerMarginTop {
  margin-top: 40px;
}
@media screen and (max-width: 576px) {
  .pager__item {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .pager__item.active,
  .pager__item:first-of-type,
  .pager__item:last-of-type,
  .pager__item:nth-of-type(2),
  .pager__item:nth-last-of-type(2) {
    position: initial;
    top: initial;
    left: initial;
  }
  .pager__item.active + li {
    position: initial;
    top: initial;
    left: initial;
  }
}
// ---------------arrowSize------------------
.arrowSize {
  font-size: 23px;
}
.arrowBox {
  z-index: 999;
}
.arrowbtn {
  z-index: 999;
}
.slick-current img {
  object-fit: cover;
  width: 100%;
  // height: 100%;
}
.sliderMobile .slick-next {
  right: 65px;
  top: 46%;
  right: 14% !important;
}
.RwdImg {
  height: 263.25px;
}
.productName h4 {
  color: #fff;
}
@media screen and (max-width: 376px) {
  .comment .commentContainer .commentBlock {
    height: 135px;
  }
  .comment
    .commentContainer
    .commentBlock
    .topSection
    > div:first-child
    .photo {
    height: 50px;
    width: 50px;
    .customizedBox {
      width: 82.23px;
      height: 112px;
    }
    .priceTextBox {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}
.topSection h3 {
  color: #fff;
}
.comment .commentContainer .commentBlock .topSection {
  height: 40%;
}
.comment .commentContainer .commentBlock {
  height: 240px;
}

.ant-comment-actions .likesTitle {
  margin-right: 0px !important;
}
.ant-radio-button-wrapper:focus-within {
  box-shadow: none !important;
}
.customized h6 {
  color: #fff;
}
.ant-collapse-content > .ant-collapse-content-box {
  padding: 0 !important;
}
.ant-collapse-content > .ant-collapse-content-box {
  padding: 0 !important;
}
