//預設RWD-576
@mixin mobile {
  @media (max-width: 577px) {
    @content;
  }
}
@mixin window {
  @media (min-width: 577px) {
    @content;
  }
}

//控制圖片
.imgControl {
  img {
    height: 100%;
    @include mobile {
      width: 100%;
    }
  }
}

//背景圖片電腦版
.productDetailBanner {
  height: 1200px;
  background-color: gray;
  padding: 0;
  position: relative;
  @include mobile {
    display: none;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .fliter {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #15151576;
    z-index: 1;
    top: 0;
    left: 0;
  }
  h1 {
    position: absolute;
    bottom: 57%;
    left: 50%;
    color: white;
    z-index: 100;
    transform: translate(-50%, -50%);
  }
}

//背景圖片手機板
.productDetailBannerMobile {
  padding: 0%;
  display: none;
  position: relative;
  @include mobile {
    display: block;
  }
  .productName {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 70%;
    h2 {
      color: white;
    }
  }
}

// 商品內容
.productContentBox {
  @include window {
    position: relative;
    z-index: 2;
  }
  padding: 0%;
  width: 100%;
  height: 1000px;
  margin-top: -1px;
  //   background-color: aqua;

  .productContent {
    height: 1000px;
    @include mobile {
      height: 1050px;
    }
    width: 100%;
    background-color: $dark-gray;
    margin: 0%;
    @include window {
      box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.7);
      width: 80%;

      position: absolute;
      right: -30%;
      top: 25%;
      transform: translate(-50%, -50%);
    }

    // 左邊照片樣式(電腦版)
    & > div:first-child {
      padding: 5%;
      padding-left: 10%;
      padding-right: 0%;
      position: relative;
      & > div {
        position: absolute;
        width: 65px;
        height: 65px;
        left: 27%;
        // background-color: red;
        img {
          width: 100%;
          height: 100%;
        }
      }
      & > div:nth-child(2) {
        top: 12%;
      }
      & > div:nth-child(3) {
        top: 20%;
      }
      & > div:nth-child(4) {
        top: 28%;
      }
      & > div:nth-child(5) {
        top: 36%;
      }
      & > div:nth-child(6) {
        top: 44%;
      }
      & > div:nth-child(7) {
        top: 52%;
      }
    }
    //手機板在最下方

    //右邊產品細節
    & > div:last-child {
      padding: 5%;
      //右上方區塊
      .topSection {
        height: 40%;
        // background-color: red;
        div {
          margin: 7%;
          h2,
          h5,
          h4 {
            color: $light-gray;
          }
        }
      }
      //右下方區塊
      .bottomSection {
        height: 40%;
        // background-color: green;
        margin-top: 16%;
        @include mobile {
          margin-top: 0;
        }
        .texture {
          padding-right: 10%;
          padding-left: 7%;
          .textureTitle {
            padding: 0;
            background-color: $dark-gray;
            border: $dark-gray;
            border: 0;
            h4 {
              color: $light-gray;
              margin-bottom: 10px;
            }
          }
          height: 50%;
          //   產品細節欄位
          & > div {
            padding-right: 5%;
            padding-left: 5%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 25%;
            @include mobile {
              height: 34%;
            }
            background-color: white;
            border: 1px solid $light-gray;
            & > div:last-child h5 {
              color: $dark-gray;
            }
          }
        }
        //按鈕
        .btns {
          height: 40%;
          margin-right: 10%;
          margin-left: 7%;
          margin-top: 5%;
          @include mobile {
            margin-top: 12%;
          }
          //   background-color: green;
          div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50%;
            // border: 1px solid black;
            .widthbtn {
              background-color: black;
              color: white;
              width: 100%;
              height: 75%;
              &:hover {
                background-color: $light-gray;
                border: $light-gray;
                color: black;
              }
            }
          }
          //按鈕樣式
          .addDetail,
          .addInCart {
            .ant-btn-primary {
              color: #fff;
              border-color: #000000;
              background: #000000;
              text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
              box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
              width: 100%;
              height: 80%;
            }
          }

          .addInCart {
            .ant-btn {
              width: 100%;
              height: 300%;
              background-color: black;
              color: white;
              border: 1px solid black;
            }
          }
        }
      }
    }
  }
}

//評論
.comment {
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
  margin-top: -8%;
  @include mobile {
    margin-top: 10%;
  }
  //評論區塊
  .commentContainer {
    // 最後一個不要底線
    & > div:last-child {
      border: 0;
    }
    .commentBlock {
      height: 350px;
      margin-bottom: 4%;
      border-bottom: 1px solid $dark-gray;
      padding: 3%;
      padding-bottom: 0%;
      h3 {
        @include mobile {
          font-size: 1.3rem;
          color: $dark-gray;
        }
      }
      & > div {
        height: 50%;
      }
      //使用者訊息
      .topSection {
        height: 50%;
        display: flex;
        justify-content: space-between;
        & > div {
          width: 30%;
          @include mobile {
            width: 50%;
          }
        }
        //使用者照片ID
        & > div:first-child {
          padding-left: 2%;
          display: flex;
          align-items: center;
          .photo {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            background-color: gray;
            @include mobile {
              margin-left: -26%;
              height: 80px;
              width: 80px;
            }
          }
          .userName {
            margin-left: 8%;
          }
        }
        //評論建立時間
        .date {
          display: flex;
          align-items: center;
          justify-content: end;
          padding-right: 1%;
          h5 {
            font-size: 1rem;
          }
        }
      }
      //評論內容
      .buttonSection {
        height: 50%;
        padding-right: 2%;
        padding-left: 10%;
      }
    }
  }
}

//彈窗內容
.popSelectDetail {
  .popDetail {
    padding-right: 5%;
    padding-left: 5%;
  }
  //標題
  .title {
    padding: 2%;
  }
  //商品顯示
  .showProduct {
    height: 80px;
    display: flex;
    align-items: center;
    .pdtImg {
      height: 70px;
      width: 70px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 100%;
      }
    }
    .pdtName {
      margin-left: 3%;
    }
  }
  .popBanner {
    height: 60px;
    background-color: black;
    margin-top: 8%;
    margin-bottom: 1%;
  }
  //細節內容手風琴
  .Accordion {
    margin-bottom: 20px;
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
      height: 45px;
      align-items: center;
      background-color: $light-gray;
    }
    .ant-collapse {
      border: 0;
    }
    // 下拉出內容
    .detailContents {
      height: 160px;
      display: flex;
      justify-content: center;
      align-items: center;

      .ant-radio-button-wrapper {
        height: 140px;
        border: 0px;
      }
      .ant-radio-button-wrapper:not(:first-child)::before {
        width: 0px;
        padding: 1px 0;
      }

      .ant-radio-button-wrapper:hover div:last-child {
        background-color: black;
      }

      .ant-radio-button-wrapper:focus-within {
        box-shadow: 0 0 0 3px black;
        padding: 0;
      }
      .ant-radio-button-wrapper {
        padding: 0;
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0);
      }

      & > div {
        margin-right: 3%;
        margin-left: 3%;
        height: 90%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        // border: 1px solid $dark-gray;
        //產品照片
        div:first-child {
          img {
            height: 100%;
          }
          height: 80%;
        }
        //細節名
        div:last-child {
          height: 100%;
          background-color: $dark-gray;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          @include mobile {
            height: 80%;
          }
          //   padding-left: 4%;
          h6 {
            color: white;
            font-size: xx-small;
            line-height: 0.8rem;
          }
        }
      }
    }
  }

  //儲存按鈕
  .widthbtn {
    width: 100%;
    height: 45px;
  }
}

.popDetail .ant-form-item-label > label {
  display: none;
}

.addInCart .ant-btn-primary {
  height: 75%;
}

//左邊照片樣式(手機板)
.sliderMobile {
  margin-top: 50px;
  height: 400px;
  //   background-color: red;
  img {
    height: 400px;
    margin: 0 auto;
  }
  .slick-prev:before,
  .slick-next:before {
    font-family: 'slick';
    font-size: 60px;
    line-height: 1;
    opacity: 0.75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .slick-prev {
    left: 30px;
    z-index: 20;
    top: 46%;
  }
  .slick-next {
    right: 65px;
    top: 46%;
  }
}
