.header {
  height: 90px;
  background: #000;
  z-index: 1;
}
.bgcImg {
  background-image: url(../components/images/register/1200x675_cmsv2_7231199b-0615-5f96-b27d-5592c25881cc-3115386.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-size: 100%;
  z-index: -9999;
}
.registerRow {
  height: 90vh;
  // padding: 0 200px 0 200px;
}
.registerInputBox {
  background-color: #fff;
  border-radius: 10px;
  width: 60%;
  height: 680px;
  margin-right: 350px;
}
.registerInputBox form {
  width: 80%;
  // overflow: auto;
}
.registerBtn {
  width: 180px;
  height: 40px;
  background-color: #000;
  border-radius: 0;
}
.registerBtn p {
  color: #fff;
}
// ------------------打造屬於您的專屬西裝----------------------
.registerTitleBox {
  margin-left: 350px;
}
.registerTitleBox p {
  color: #fff;
  letter-spacing: 1px;
}
.registerTextBox {
  width: 390px;
  line-height: 26px;
}
.registerImgBox {
  width: 248px;
  height: 145px;
  background-color: #fff;
  margin-top: 35px;
}
.registerImgBox img{
  width:100%;
  object-fit: cover;
}
