.shopingCart {
  @mixin itemsText {
    div {
      height: 33%;
      text-align: end;
      line-height: 3rem;
    }
  }

  @mixin subtotalblockstyle {
    padding: 5%;
    height: $blockHeight;
    background-color: $light-gray;
  }

  //checkbox
  .form-check-input:focus {
    border-color: $dark-gray;
    outline: 0;
    box-shadow: 0 0 0 0.25rem $light-gray;
  }
  .form-check-input:checked {
    background-color: $dark-gray;
    border-color: $light-gray;
  }
  .form-check-input[type='checkbox'] {
    border-radius: 50%;
  }
  .itslabel {
    display: flex;
    align-items: center;
    label {
      margin-left: 1rem;
      // color: red;
    }
  }
  .form-check-input {
    width: 2em;
    height: 2em;
  }

  //流程圖
  .showSteps {
    margin: 18% auto 3% auto;
    width: 70%;
  }

  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
    background: $dark-gray;
    padding: 8px;
  }

  .ant-steps-item-finish .ant-steps-item-icon {
    background-color: $dark-gray;
    border-color: $light-gray;
    padding: 6px;
  }

  .ant-steps-item-icon {
    width: 60px;
    height: 60px;
    margin: 0 8px 0 0;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    line-height: 32px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    transition: background-color 0.3s, border-color 0.3s;
  }

  .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
    color: white;
  }

  .ant-steps-item-finish
    > .ant-steps-item-container
    > .ant-steps-item-content
    > .ant-steps-item-title::after {
    background-color: $dark-gray;
  }

  .ant-steps-item-wait .ant-steps-item-icon {
    background-color: $light-gray;
    border-color: $light-gray;
    padding: 13px;
  }

  .ant-steps-item-process .ant-steps-item-icon {
    border-color: $dark-gray;
  }

  .ant-steps-item-process
    > .ant-steps-item-container
    > .ant-steps-item-icon
    .ant-steps-icon {
    font-size: 40px;
  }

  $blockHeight: 300px;
  // checking
  .checking {
    // height: 800px;
    border: 1px solid $light-gray;
    //全選
    .allselect {
      padding: 1% 5%;
      height: 120px;
      border: 1px solid $light-gray;
      display: flex;
      align-items: center;
    }

    //商品內容
    .productDetail {
      margin: 0%;
      height: $blockHeight;
      border: 1px solid $light-gray;
      div {
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      //商品名&客製化按鈕
      div:nth-child(3) {
        display: flex;
        flex-direction: column;
        text-align: center;
        div {
          margin: 15% 0 15% 0;
        }
        button {
          width: 70%;
          font-size: 0.4rem;
          height: 10%;
        }
      }
      //商品數量
      div:nth-child(5) {
        div {
          width: 23%;
          height: 9%;
          border: 1px $light-gray solid;
        }
        .number {
          border-left: 0;
          border-right: 0;
        }
        .reduce {
          border-radius: 20% 0 0 20%;
          background-color: $dark-gray;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-bottom: 4%;
          color: white;
        }
        .plus {
          border-radius: 0 20% 20% 0;
          background-color: $dark-gray;
          color: white;
        }

        .plus:hover,
        .reduce:hover {
          background-color: $light-gray;
        }
        .reduce:active,
        .plus:active {
          border: 1px solid $light-gray;
          background-color: white;
          color: $light-gray;
        }
      }
      div:last-child {
        h4 {
          color: red;
        }
      }
    }

    //總和計算
    .subtotalblock {
      @include subtotalblockstyle;
      // 加總過程
      .pricelist {
        height: 80%;

        // 項目條列
        .items {
          @include itemsText;
        }
        //項目金額
        .itemsPrice {
          @include itemsText;
        }
      }
      // 灰線條
      .grayline {
        display: flex;
        flex-direction: row;
        height: 2px;
        div:last-child {
          background-color: $dark-gray;
        }
      }
      // 小計
      .total {
        height: 20%;

        div {
          @include itemsText;
        }
        h4 {
          color: red;
        }
      }
    }
  }

  // 下方按鈕
  .btnsbar {
    height: 30%;
    // background-color: blue;
    button:first-child {
      // @include whitebtn;
    }
  }
}
