.steps__item {
  position: relative;
  margin: 0 1rem;

  // 偽元素橫線
  & + .steps__item::before {
    content: '';
    z-index: -1;
    position: absolute;
    display: block;
    top: 35%;
    left: -40px;
    width: 50px;
    height: 5px;
    background-color: #ececec;
  }

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background-color: $light-gray;
    border-radius: 50%;
    &.active {
      background-color: $dark-gray;
      color: white;
    }
  }

  &__description {
    margin-top: 0.5rem;
  }

  // active 變深色
  &.active {
    .steps__item__number {
      background-color: $light-green;
      color: #000;
      border: 1px solid $light-gray;
    }
    &::before {
      background-color: $light-green;
    }
  }
}

// 平板以上 steps 中間橫線拉寬
@media screen and (min-width: 768px) {
  .steps__item {
    margin: 0 3rem;

    // 偽元素橫線
    & + .steps__item::before {
      left: -110px;
      width: 120px;
    }
  }
}
