.cart-detail__form {
  padding: 20px;
}

.cart-detail__form__select-group {
  &__remind {
    font-size: 14px;
    color: $dark-gray;
  }
}

.order-info__body {
  padding: 20px;
  ul {
    li:nth-child(2) {
      border-bottom: 1px solid $light-gray;
      padding-bottom: 10px;
    }
  }
  button {
    background-color: $light-green;
    border: 1px solid $dark-gray;
    border-radius: 0;
    color: #e00068;
    // color: white;
    // &:hover {
    //   background-color: black;
    //   color: white;
    // }
  }
  .reminders {
    p {
      font-size: 14px;
      color: $dark-gray;
    }
  }
}
