/* textarea{
  display: none;
} */
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App {
  text-align: center;
}
.App-header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 1vmin);
  color: rgb(94, 94, 94);
}

.App-link {
  color: #61dafb;
}



.App .editor{
  width: 70%;
  margin: 0 auto;
  margin-top: 0px;
}



.rdw-editor-toolbar{
  margin: 0 auto;
}


.text-editor-main-text{
  display: none;
}

.main-area{
  display: flex;
  justify-content:space-around;
  background: rgb(171, 208, 207);
  padding: 10px 0 10px 10%;
}

