// 這個檔案只連結其他scss檔
@import './styles/variables';
@import './styles/reset';
@import './styles/global';

// 洧 Member
@import './styles/_member';
@import './styles/_memberMobile';
@import './styles/_changePassword.scss';
@import './styles/_orderList.scss';
@import './styles/_myGiftCard.scss';
@import './styles/_myFavorties.scss';
@import './styles/_OrderDetail';

// 洧 CustomizeSilent
@import './styles/_customizeSlient';

// layout.scss
@import './styles/_layout';
// giftcard
@import './styles/_giftcard';
