// 這個檔案只連結其他scss檔
@import './styles/variables';
@import './styles/reset';
@import './styles/global';

// 昱
@import './styles/home';
@import './styles/measurement';


//cusomerService.sass
@import './styles/customerService';

//_shoppingcart.scss
@import './styles/shoppingCartChecking';
@import './styles/shoppingCartPayment';
@import './styles/shoppingCartConsumerDetail';
@import './styles/shoppingCartFinish';

//productDetail.scss
@import './styles/productDetail';
// -----------productList-----------
@import './styles/productList';
// -----------bookingMap-----------
@import './styles/BookingMap';
// -----------bookingMap-----------
@import './styles/Register';
// -----------Register-----------
@import './styles/Register';
// -----------MeasurementTeaching-----------
@import './styles/MeasurementTeaching';
// -----------Login-----------
@import './styles/Login';



// 洧
@import './styles/_member';
@import './styles/_memberMobile';
@import './styles/_changePassword.scss';
@import './styles/_orderList.scss';
@import './styles/_myGiftCard.scss';
@import './styles/_myFavorties.scss';
@import './styles/_OrderDetail';

// 洧 CustomizeSilent
@import './styles/_customizeSlient';

// layout.scss
@import './styles/_layout';
// giftcard
@import './styles/giftcard';
// blog
@import './styles/blog';

