.order-list-display {
  padding: 20px;
  li:first-of-type {
    background-color: $light-green;
  }
  li {
    padding: 10px;
    &:hover:not(:first-of-type) {
      background-color: $light-gray;
    }
  }
}

.order-list-display-item {
  // 查閱按鈕
  &__lookup {
    color: $highlight-red;
    &:hover {
      color: $highlight-red;
    }
  }
}

@media screen and (min-width: 768px) {
  .order-list-display {
    .prefix {
      display: none;
    }
    // 調整訂單列表對齊
    .col-2,
    .col-md-2 {
      text-align: center;
    }
  }
}
