.member {
  // 覆蓋 member page 底下的所有 button 樣式
  .container {
    .ant-btn:hover {
      color: black;
      border-color: black;
    }
  }
  // tab 兩側加上 border
  .tab-content {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
  }
  // tab 按鈕字體顏色
  .nav-tabs {
    button {
      color: $dark-gray;
    }
    .nav-link.active {
      color: #000;
    }
  }
}

@media screen and (min-width: 996px) {
  .tab-content {
    padding: 20px;
  }
}
